ericnuno.egg-info/dependency_links.txt
dist/ericnuno-0.56-py3-none-any.whl
ericnuno.egg-info/dependency_links.txt
ericnuno.egg-info/PKG-INFO
ericnuno.egg-info/requires.txt
ericnuno.egg-info/SOURCES.txt
ericnuno.egg-info/top_level.txt
